*{
    margin: 0%;
    padding: 0%;
}
html{
    font-size: 62.5%;
}
.header{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../images/background.jpg") ;
    /* opacity: 80%; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 0%;
    height: 360%;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo{
    position: fixed;
    margin: 1rem;
    width: 6rem;
}
.navbar{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    height: 7rem;
    
    /* margin: 1rem; */
}
.navigation{
    margin: 1.8rem;
    list-style: none;
    display:flex;
    font-size: 2rem;
    text-decoration: none;
}
.navigation a{
    font-family: 'Open Sans Condensed', sans-serif;
    padding-top:2rem;
    text-decoration: none;
    margin:3rem;
    transition: 0.5s ease;
    font-size: larger;
    color: white;
}
.navigation a:hover{
    font-size: 2.2rem;
}
.coro{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4rem;
    color: white;
    /* text-align: center; */
}

@media (max-width: 998px){
    html{
        font-size: 55%;
    }
        /* .navigation {margin-left: rem;} */
        .navigation a{
            margin: 3rem;
            
            font-size: 2.5rem;
            padding: 0.1rem;
        }
@media (max-width: 806px){
    html{
        font-size: 45%;
    }
        }
@media (max-width: 662px){
    html{
        font-size: 35%;
    }
        /* .navigation {margin-left: rem;} */
        .navigation a{
            margin: 3rem;
            
            font-size: 3.5rem;
            padding: 0.1rem;
        }
@media (max-width: 495px){
    .navigation {margin-left: 2rem;}
    .navigation a{
        margin: 1.5rem;
        
        font-size: 2.6rem;
        padding: 0.1rem;
    }
    html{
        font-size: 42%;
    }
   
@media (max-width: 414px){
    html{
        /* <h1>COVID RESOURCES<br> WEBSITE</h1> */
        font-size: 38%;
    }
   
        .navigation {margin-left: 2rem;}
        .navigation a{
            margin: 1.5rem;
            
            font-size: medium;
            padding: 0.1rem;
        }
@media (max-width: 331px){
    html{
        font-size: 35%;
    }
    .para h1{
        font-size: 4rem;
        }